[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # use n and N to move between diff sections
	dark = true
	hyperlinks = true
	syntax-theme = "Monokai Extended"
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
[push]
	default = upstream
[alias]
	a = add
	ci = commit
	s = status
	st = status
	br = branch
	co = checkout
	d = diff
	l = log --graph --decorate --date=relative
	t = tag
	re = rebase
	pr = push --set-upstream origin head
[color]
	ui = true
[credential]
	helper = cache --timeout 86400
[rebase]
	autosquash = true
[pull]
	rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[user]
	email = mail@maxantoni.de
	name = Maximilian Antoni
