[submodule ".vim/pack/mantoni/start/surround"]
	path = .vim/pack/mantoni/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/mantoni/start/fugitive"]
	path = .vim/pack/mantoni/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/mantoni/start/unimpaired"]
	path = .vim/pack/mantoni/start/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/pack/mantoni/start/sensible"]
	path = .vim/pack/mantoni/start/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/pack/mantoni/start/snipmate"]
	path = .vim/pack/mantoni/start/snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/pack/mantoni/start/javascript"]
	path = .vim/pack/mantoni/start/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/mantoni/start/delimitMate"]
	path = .vim/pack/mantoni/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".vim/pack/mantoni/start/repeat"]
	path = .vim/pack/mantoni/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/mantoni/start/gitgutter"]
	path = .vim/pack/mantoni/start/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/pack/mantoni/start/bufferline"]
	path = .vim/pack/mantoni/start/bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule ".vim/pack/mantoni/start/tmuxline"]
	path = .vim/pack/mantoni/start/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule ".vim/pack/mantoni/start/airline"]
	path = .vim/pack/mantoni/start/airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/pack/mantoni/start/editorconfig"]
	path = .vim/pack/mantoni/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/pack/mantoni/start/bufonly"]
	path = .vim/pack/mantoni/start/bufonly
	url = git@github.com:duff/vim-bufonly.git
[submodule ".vim/pack/mantoni/start/eunuch"]
	path = .vim/pack/mantoni/start/eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule ".vim/pack/mantoni/start/addon-mw-utils"]
	path = .vim/pack/mantoni/start/addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/pack/mantoni/start/tlib"]
	path = .vim/pack/mantoni/start/tlib
	url = git@github.com:tomtom/tlib_vim.git
[submodule ".vim/pack/mantoni/start/airline-themes"]
	path = .vim/pack/mantoni/start/airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule ".vim/pack/mantoni/start/jinja"]
	path = .vim/pack/mantoni/start/jinja
	url = git@github.com:lepture/vim-jinja.git
[submodule ".vim/pack/mantoni/start/ack"]
	path = .vim/pack/mantoni/start/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/pack/mantoni/opt/onedark"]
	path = .vim/pack/mantoni/opt/onedark
	url = git@github.com:joshdick/onedark.vim.git
[submodule ".vim/pack/mantoni/start/ctrlp"]
	path = .vim/pack/mantoni/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule ".vim/pack/mantoni/start/rhubarb"]
	path = .vim/pack/mantoni/start/rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".vim/pack/mantoni/start/ale"]
	path = .vim/pack/mantoni/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/mantoni/start/jsdoc"]
	path = .vim/pack/mantoni/start/jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
[submodule ".vim/pack/mantoni/opt/one"]
	path = .vim/pack/mantoni/opt/one
	url = git@github.com:rakr/vim-one.git
[submodule ".vim/pack/mantoni/opt/sonokai"]
	path = .vim/pack/mantoni/opt/sonokai
	url = git@github.com:sainnhe/sonokai.git
[submodule ".vim/pack/mantoni/start/terraform"]
	path = .vim/pack/mantoni/start/terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule ".vim/pack/mantoni/start/copilot"]
	path = .vim/pack/mantoni/start/copilot
	url = git@github.com:github/copilot.vim.git
[submodule ".vim/pack/mantoni/start/nearley"]
	path = .vim/pack/mantoni/start/nearley
	url = git@github.com:tjvr/vim-nearley.git
[submodule ".vim/pack/mantoni/start/commentary"]
	path = .vim/pack/mantoni/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/mantoni/start/obsession"]
	path = .vim/pack/mantoni/start/obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".vim/pack/mantoni/start/fern"]
	path = .vim/pack/mantoni/start/fern
	url = git@github.com:lambdalisue/fern.vim.git
[submodule ".vim/pack/mantoni/start/nerdfont"]
	path = .vim/pack/mantoni/start/nerdfont
	url = git@github.com:lambdalisue/nerdfont.vim.git
[submodule ".vim/pack/mantoni/start/glyph-palette"]
	path = .vim/pack/mantoni/start/glyph-palette
	url = git@github.com:lambdalisue/glyph-palette.vim.git
[submodule ".vim/pack/mantoni/start/fern-renderer-nerdfont"]
	path = .vim/pack/mantoni/start/fern-renderer-nerdfont
	url = git@github.com:lambdalisue/fern-renderer-nerdfont.vim.git
[submodule ".vim/pack/mantoni/start/fern-git-status"]
	path = .vim/pack/mantoni/start/fern-git-status
	url = git@github.com:lambdalisue/fern-git-status.vim.git
[submodule ".vim/pack/mantoni/start/fern-hijack"]
	path = .vim/pack/mantoni/start/fern-hijack
	url = git@github.com:lambdalisue/fern-hijack.vim.git
[submodule ".vim/pack/mantoni/start/js-pretty-template"]
	path = .vim/pack/mantoni/start/js-pretty-template
	url = git@github.com:Quramy/vim-js-pretty-template.git
