[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
[alias]
	a = add
	ci = commit
	s = status
	st = status
	br = branch
	co = checkout
	d = diff --color-moved
	l = log --graph --decorate --date=relative
	t = tag
	re = rebase
[color]
	ui = true
[credential]
	helper = cache --timeout 86400
[pager]
	log = diff-so-fancy | less
	show = diff-so-fancy | less
	diff = diff-so-fancy | less
[interactive]
	diffFilter = diff-so-fancy
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red bold reverse
	newNormal = green
	newHighlight = green bold reverse
[color "diff"]
	meta = yellow
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
