[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = upstream
[alias]
	a = add
	ci = commit
	s = status
	st = status
	br = branch
	co = checkout
	d = diff --color-moved
	l = log --graph --decorate --date=relative
	t = tag
	re = rebase
	pr = push --set-upstream origin head
[color]
	ui = true
[credential]
	helper = cache --timeout 86400
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[color "diff"]
	meta = 11
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
[rebase]
	autosquash = true
[pull]
	rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = main
